.coupleProfile {
    margin: 50px 20px;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #666;
    text-align: center;
  }
  
  .profileContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .profileItem {
    max-width: 300px;
  }
  
  .profileImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .profileRole {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profileBio {
    font-size: 0.9rem;
    color: #444;
  }
  