.coupleProfile {
  margin: 90px 20px;
  width: 100%;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.titleSection {
  margin-bottom: 50px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #666;
  text-align: center;
}

.profileContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 700px;
}

.profileItem {
  max-width: 50%;
  height: 800px;
  border-radius: 5px;
  position: relative; 
}

.photoItem {
  position: relative;
  overflow: hidden;
}

.photoItem img {
  width: auto;
  height: 556px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; 
}

.photoItem img:hover {
  transform: scale(1.1); 
}

.overplay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%; 
  height: 95%;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.3); 
  opacity: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out; 
  pointer-events: none; 
}

.photoItem:hover .overplay {
  opacity: 1; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overplayText {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Cursive', sans-serif;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; 
}

.photoItem:hover .overplayText {
  animation: fadeIn 0.5s forwards; 
}

.coupleDes {
  margin-top: 40px;
  margin-bottom: 40px;
}

.profileRole {
  font-size: 16px;
  letter-spacing: 2px;
  margin: 20px 0;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.profileRole a:hover {
  color: #f98d8a; 
}

.profileBio {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}