.title {
    font-weight: bold;
    font-size: min(8vw, 8vh);
    font-family: 'Great Vibes', cursive;
    color: #333333;
    text-align: center;
    margin: auto;
    padding: auto;
}

.sub1 {
    font-weight: bold;
    font-size: min(3vw, 3vh);
    font-family: 'Alex Brush', cursive;
    margin: auto;
    padding: auto;
}

.sub2 {
    font-weight: bold;
    font-size: min(2vw, 2vh);
    font-family: 'Alex Brush', cursive;
    margin: 1px;
    padding: 1px;
}

.sub3 {
    font-weight: bold;
    font-size: min(1vw, 1vh);
    font-family: 'Alex Brush', cursive;
    margin: auto;
    padding: auto;
}
