.vietnam {
    margin: 20px;
  }

  .title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #4a4a4a;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 20px 0;
    text-transform: uppercase;
  }
  
  .vietnam svg {
    align-items: center;
    margin: auto;
  }
  
  .vietnam path {
    fill: gray;
    stroke: #333333;
    stroke-width: 1;
    transition: fill 0.3s ease;
  }
  
  .vietnam path[data-highlight="true"] {
    fill: #ffcc00;
    transition: fill 0.3s ease;
  }
  
  .vietnam path[data-highlight="true"]:hover {
    fill: #ff9900;
  }
  
  
  
  